#card{
	border-style: solid;
	/*height: 200px;*/
	width: 200px;
	padding: 10px;
	display: inline-block;
	margin-left:  43px;
	text-align: center;
	background: orange;
	color: dark;
	margin-right: 30px;
	margin-top: 40px;

}



/*#card #top_img{
	width: 200px;
	margin: 10px;
	display: block;
}*/

#card img{
	margin-top: 20px;
	margin-left: 0px;
	width: 100px;
	height: 100px;

}

#card a{
	text-decoration: none;
	color: inherit;
	display: inline-block;
	border-style: solid;
	border-width: thin;
	padding: 10px;
	/*background: blue;*/
	margin-right: 10px;
	margin-top: 0px;
	

	
}



#card #number{
	margin-top: 0px;
	text-align: center;
	font-size: 3rem;
	margin-bottom: 5px;
}

