body{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0px;
	font-family: Helvetica, sans-serif;
}

li{
	list-style: none;
	display: inline-block;
}

li a, li button{
	margin-right: 50px;
	text-decoration: none;
	color: black;
	font-size: 1.2rem;
	background: none;
}

li img{
	width: 60px;
	height: 60px;
}


#dash{
	margin-left: 40%;
}